h1{
  position: absolute;
  text-align: center;
  width: 100%;
  height: 10%;
  left: 0%;
  right: 100%;
  top:0%;
  margin-right: 100%;
  margin-bottom: 0%;
  margin-top: 0%;
  color: #FF9900;
  background-color: #080000;
}

  body{
  color:  #FFFFFF;
  background-color: #303030 ;
  overflow-y: hidden;
  }

    a{
      text-decoration: none;
      font-size: 20px;

    }

      a:hover{
        background-color: black;
        color: red;

      }

      a:active{
        background: yellow;
        color:  black;
      }

        ul{
          list-style-type: none;
        }

          menu{
          background-color: #202020;
            position: fixed;
            top:10%;
            bottom:0%;
            right: 70%;
            left: 0%;
            margin-left: 0%;
            margin-right: 0%;
            margin-bottom: 0%;
            margin-top: auto;
          }

          main{
            height: 30%;
            width: auto;
            position: absolute;
            top:10%;
            bottom: 0px;
            left: 30%;
            right: 0px;
          }

          main > section{
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0px;
              top:100%;
              visibility: hidden;
          }

          main > section:target {
            top: 0%;
            transition: all 800ms ease-out;
            visibility: visible;
          }




          table {

             border: 1px solid white;
             width: 100%;
             color: white;
             background-color: #303030;
          }

          thead, tbody {
            text-align: center;
          display: block;

          }

          tbody {
              height: 100px;
              overflow-y: auto;
              overflow-x: hidden;
          }

          th, td{

            text-align: left;
          }

        tr:hover{
            background-color: #585858 ;
            transition: all 2s ease-out;
          }

          th:nth-child(1){
            width: 50px;
          }

          th:nth-child(2){
            width: 490px;
          }

          th:nth-child(3){
            width: 50px;
          }

          th:nth-child(4){
            width: 75px;
          }

          th:nth-child(5){
          width:  75px;
          }


            td:nth-child(1){
              width: 50px;
            }

            td:nth-child(2){
              width: 490px;
            }

            td:nth-child(3){
              width: 50px;
            }

            td:nth-child(4){
              width: 75px;
            }

            td:nth-child(5){
              width: 75px;
            }
			footer{
				position:absolute;
				bottom: 0px;
				text-align:center;
				height:25px;
				width:100%;
				background-color:#000033;
				left:0px;
			}
