h1{
  position: absolute;
  text-align: center;
  width: 100%;
  height: 10%;
  left: 0%;
  right: 100%;
  top:0%;
  margin-right: 100%;
  margin-bottom: 0%;
  margin-top: 0%;
  color: #FF9900;
  background-color: #080000;
}

  body{
  color:  #FFFFFF;
  background-color: #101010;
  overflow-y: hidden;
  }

    a{
      text-decoration: none;
      font-size: 20px;

    }

      a:hover{
        background-color: black;
        color: red;

      }
/*
a:active{
  background: yellow;
  color:  black;
  font-size: 40px;
}*/

        ul{
          list-style-type: none;
        }

          menu{
            position: fixed;
            top:10%;
            left: 0%;
            margin-left: 0%;
            margin-right: 20%;
            margin-bottom: 100%;
            margin-top: auto;
          }

          main{
            height: auto;
            width: auto;
            position: absolute;
            top:0%;
            bottom: 0%;
            left: 30%;
            margin-left: 0%;
            margin-right: 100%;
            margin-bottom: 100%;
            margin-top:0%;
            overflow: hidden;

          }

          main > section{
              position: fixed;
              width: 100%;
              height: 100%;
              top:100%

          }

          main > section:target{
            top: 10%;
            transition: all 2s ease-out;

          }
/*  -webkit-transition: all 600ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition:         all 600ms cubic-bezier(0.445, 0.05, 0.55, 0.95);*/




          table {

             border: 1px solid white;
             width: 600px;
             color: white;
             background-color: black;
          }

          thead, tbody {
            text-align: center;
          display: block;

          }

          tbody {
              height: 100px;
              overflow-y: auto;
              overflow-x: hidden;
          }

          th, td{

            text-align: left;
          }

          th:nth-child(1){
            width: 50px;
          }

          th:nth-child(2){
            width: 350px;
          }

          th:nth-child(3){
            width: 50px;
          }

          th:nth-child(4){
            width: 75px;
          }

          th:nth-child(5){
          width:  75px;
          }


            td:nth-child(1){
              width: 50px;
            }

            td:nth-child(2){
              width: 350px;
            }

            td:nth-child(3){
              width: 50px;
            }

            td:nth-child(4){
              width: 75px;
            }

            td:nth-child(5){
              width: 75px;
            }
