
@font-face {
    font-family: 'icomoon';
    src:    url('font/icomoon.eot?xi7fp1');
    src:    url('font/icomoon.eot?xi7fp1#iefix') format('embedded-opentype'),
        url('font/icomoon.ttf?xi7fp1') format('truetype'),
        url('font/icomoon.woff?xi7fp1') format('woff'),
        url('font/icomoon.svg?xi7fp1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-refresh:before {
    content: "\e90c";
}
.icon-tasks:before {
    content: "\e900";
}
.icon-settings:before {
    content: "\e901";
}
.icon-lab:before {
    content: "\e902";
}
.icon-admin:before {
    content: "\e903";
}
.icon-status:before {
    content: "\e904";
}
.icon-shutdown:before {
    content: "\e905";
}
.icon-reports:before {
    content: "\e90b";
}
.icon-cancel:before {
    content: "\e906";
}
.icon-okay:before {
    content: "\e907";
}
.icon-start:before {
    content: "\e908";
}
.icon-pause:before {
    content: "\e909";
}
.icon-stop:before {
    content: "\e90a";
}



/*
 * LAYOUT
 */

body {
	margin: 0px;
	padding: 0px;
}

header {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: auto;
	left: 0px;
	color: #ffffff;
	background: #4e5f70;
	z-index: 11;
}

header h1 {
	display: block;
	margin: 0px;
	padding: 8px;
	text-align: center;
	font-size: 32px;
	font-family: 'Ubuntu';
}

aside {
	display: block;
	position: fixed;
	top: 0px;
	right: auto;
	bottom: 0px;
	left: 0px;
	width: auto;
	height: auto;
	padding: 53px 0px 16px 0px;
	color: #ffffff;
	background: #4e5f70;
	z-index: 10;
}

aside menu {
	margin: 0px;
	padding: 0px;
}

aside menu li {
	display: block;
	width: 128px;
	height: auto;
	margin: 0px;
	padding: 16px;
	list-style: none;
	font-size: 32px;
	line-height: 32px;
	transition: 250ms background ease-out;
}

aside menu li a {
	color: #ffffff;
	text-decoration: none;
	font-family: 'Ubuntu';
	font-size: 16px;
	line-height: 32px;
	vertical-align: top;
	margin: 0px;
}

aside menu li a span {
	font-size: 32px;
	line-height: 32px;
	padding: 0px 8px;
}

aside menu li.active,
aside menu li:hover {
	background: #5ac1e4;
	transition: 250ms background ease-out;
}

main {
	display: block;
	position: fixed;
	top: 54px;
	right: 0px;
	bottom: 0px;
	left: 160px;
	margin: 0px;
	padding: 0px;
	color: #4e5f70;
	background: #eff2f5;
}

main section {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	padding: 32px;
	background: #eff2f5;
}

main section {
	transform: translate(-100%, 0%);
	transition: 250ms transform ease-out;
	z-index: 1;
}

main section:target {
	transform: translate(0%, 0%);
	transition: 250ms transform ease-out;
	z-index: 2;
}

main section > div.table-wrapper {
	display: block;
	position: absolute;
	top: 32px;
	right: 32px;
	bottom: 96px;
	left: 32px;
	overflow: auto;
}

main section > div.table-wrapper table td {
	max-width: 200px;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

main section table td {
	text-align: center;
}

main section table td:first-child {
	text-align: left;
}



/*
 * INTERFACE
 */

button {
	display: inline-block;
	margin: 0px;
	padding: 8px;
	font-family: 'Ubuntu';
	font-size: 16px;
	line-height: 16px;
	color: #ffffff;
	background: #4e5f70;
	border: 0px solid transparent;
	vertical-align: top;
	transition: 250ms background ease-out;
	appearance: none;
	cursor: pointer;
}

button span {
	font-size: 32px;
	line-height: 32px;
	padding: 0px;
}

button:active {
	background: #5ac1e4;
	transition: all 0ms;
}

input {
	display: inline-block;
	margin: 0px;
	padding: 0px 16px;
	font-family: 'Ubuntu';
	font-size: 16px;
	line-height: 32px;
	height: 32px;
	color: #ffffff;
	background: #4e5f70;
	border: 0px solid transparent;
	vertical-align: top;
	transition: 250ms background ease-out;
	appearance: none;
	cursor: text;
}

select {
	display: inline-block;
	margin: 0px;
	padding: 0px 16px;
	font-family: 'Ubuntu';
	font-size: 16px;
	line-height: 32px;
	height: 32px;
	color: #ffffff;
	background: #4e5f70;
	border: 0px solid transparent;
	vertical-align: top;
	transition: 250ms background ease-out;
	appearance: none;
	cursor: pointer;
}

section > div.action-form {
	display: block;
	position: fixed;
	top: auto;
	right: auto;
	bottom: 24px;
	left: 32px;
	border: 1px dotted #aaaaaa;
}

section > div.action-form h3 {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	font-family: 'Ubuntu';
	font-size: 32px;
	line-height: 64px;
	vertical-align: top;
}

section > div.action-form p {
	display: inline-block;
	margin: 0px;
	padding: 16px;
	height: 32px;
	line-height: 64px;
	vertical-align: top;
}

section > div.action-form p > * {
	margin-left: 16px;
}

section > div.action-form p > *:first-child {
	margin-left: 0px;
}

section > div.action-form button {
	margin-top: -8px;
}

section > div.action-bar {
	display: block;
	position: fixed;
	top: auto;
	right: 32px;
	bottom: 32px;
	left: auto;
}


/*
 * CONTENT
 */

table {
	width: 100%;
}

main section table thead,
main section table tbody {
}

table th,
table td {
	border: 1px dotted #aaaaaa;
	padding: 4px;
}

table td[colspan] {
	text-align: center;
	padding: 32px;
}

table td:last-child {
	text-align: center;
}
